.block-13 .owl-nav, 
.slide-one-item .owl-nav {
    position: relative;
    position: absolute;
    bottom: -90px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.block-13 .owl-dots{
    display: none;
}

.block-13 .owl-nav button.owl-prev,
.block-13 .owl-nav button.owl-next{
    position: relative !important;
    display: inline-block !important;
    padding: 20px !important;
    font-size: 30px !important;
    color: #000 !important;
}